* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  height: 100%;
  padding-bottom: env(safe-area-inset-bottom);
  background: #ecf1f5;
}

li,
ul {
  list-style: none;
}